h3 Dogs
.row
  .col-xs-6.col-xs-offset-2
    table.table.table-striped.table-hover
      thead
        tr
          th Name:
          th Age:
          th Gender:
          th Photo:
      tbody
        tr(ng-repeat='dog in dogs')
          td: a(ui-sref='dogs.show({dogId:dog._id})') {{dog.name}}
          td {{dog.age}}
          td {{dog.gender}}
          td: img#dogListPic.img-responsive.img-thumbnail(ng-src='{{dog.photo}}')
          td: button#deleteButton.btn.btn-sm.btn-danger(ng-click='deleteDog(dog)') Return to Pound
